<div class="big-campaign">
  <swiper-container
    loop="true"
    slides-per-view="2"
    autoplay="true"
    navigation="true"

  >
    <swiper-slide class="" lazy="true">
      <img loading="lazy" class="slide-img-core" src="/assets/img/big-campaign/ssgif-06-720x220-9.gif" alt="">
    </swiper-slide>
    <swiper-slide lazy="true" class="">
      <img loading="lazy" class="slide-img-core" src="/assets/img/big-campaign/720-220-720x220-43.png" alt="">
    </swiper-slide>
    <swiper-slide>
      <img loading="lazy" class="slide-img-core" src="/assets/img/big-campaign/ssgif-06-720x220-9.gif" alt="">
    </swiper-slide>
    <swiper-slide>
      <img loading="lazy" class="slide-img-core" src="/assets/img/big-campaign/720-220-720x220-43.png" alt="">
    </swiper-slide>
  </swiper-container>

</div>



