<!-- begin: option promo -->
<div class="option-promo">
  <div class="option-promo__item">
    <a href="/page/client/sale-event/sale-event.html" class="option-promo__item-link">
      <img src="/assets/img/ico/icon--96x104-2.png" alt="" class="option-promo__item-icon">
      <span>Chỉ giảm Online</span>
    </a>
  </div>
  <div class="option-promo__item">
    <a href="/page/client/sale-event/sale-event.html" class="option-promo__item-link">
      <img src="/assets/img/ico/LDP---Icon-Desk-61x60.png" alt="" class="option-promo__item-icon">
      <span>Đồng giá từ 99k</span>
    </a>
  </div>
  <div class="option-promo__item">
    <a href="/page/client/sale-event/sale-event.html" class="option-promo__item-link">
      <img src="/assets/img/ico/100x100-101x101.png" alt="" class="option-promo__item-icon">
      <span>Ngày đẹp giảm đến 50%</span>
    </a>
  </div>
  <div class="option-promo__item">
    <a href="/page/client/sale-event/sale-event.html" class="option-promo__item-link">
      <img src="/assets/img/ico/b2s-120x120.png" alt="" class="option-promo__item-icon">
      <span>Đổi điểm giảm đến 3tr</span>
    </a>
  </div>
</div>
<!-- end: option promo -->
